{{!< default}}   
	{{#post}}
<div style="background:#474747;">
<header id="post-header" style=" background-image: url({{image}}) !important" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="100">
	{{> links}}
	<div class="cf"></div>
	
	<div id="title">
		<h1>{{title}}</h1>
		<h2>{{date published_at format="MMMM DD, YYYY"}}</h2>
        <br>
        <br>
        <br>
        <br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsiver banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7004039348107787"
     data-ad-slot="9147249750"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
</header>
</div>
<div class="container" id="content" role="main">

    <article class="{{post_class}}" id="post-{{id}}">
        {{> custom/article-top}}
		{{content}}
        {{> subscribe}}
        <div style="margin-bottom:10px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsiver banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7004039348107787"
     data-ad-slot="9147249750"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
        {{> custom/comments}}
    </article>
	
	{{/post}}

</div>